<tr>
  <td>
    <%= subject.name %>
  <td>
    <%= subject.duration %>
  </td>
  <td>
    <% if load_subject_form(@course, subject) %>
      <%= render partial: "remove_subject", object: @subject = subject %>
    <% else %>
      <%= form_for([:supervisor, @course.course_subjects.build], remote: true) do |f| %>
        <%= hidden_field_tag :subject_id, subject.id %>
        <%= hidden_field_tag :course_id, @course.id %>

        <%= f.label :start_at %>
        <%= f.date_field :start_at, data: {provide: "datepicker"}, value: Date.today.strftime("%m/%d/%Y") %>

        <%= f.submit t(".btn_submit"), class: "btn btn-success" %>
      <% end %>
    <% end %>
  </td>
</tr>
