<%= form_for [:supervisor, @course], class: "form-group" do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>

  <%= f.label :start_at %>
  <%= f.date_field :start_at, class: "form-control" %>

  <%= f.label :end_at %>
  <%= f.date_field :end_at, class: "form-control" %>

  <%= f.label :picture %>
  <%= image_tag @course.picture %>

  <span class="picture">
    <%= f.file_field :picture %>
  </span>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
