<tr>
  <% cou_subject ||= @cou_subject %>
  <td><%= image_tag cou_subject.subject_picture, class: "img img-circle" %></td>
  <td><%= cou_subject.subject_name %></td>
  <td>
    <% if cou_subject.course.finished? %>
      <%= cou_subject.course.status %>
    <% else %>
      <% if cou_subject.init? || cou_subject.stopped? %>
        <%= render partial: "supervisor/courses/button/start_subject", object: @cou_subject = cou_subject %>
      <% else %>
        <%= render partial: "supervisor/courses/button/stop_subject", object: @cou_subject = cou_subject %>
      <% end %>
    <% end %>
  </td>
</tr>
