<% provide :title, t(".title") %>
<% provide :button_text, t(".btn_submit") %>
<div class="col-md-4">
  <h3><%= t ".title" %></h3>
  <%= link_to @course.name, [:supervisor, @course] %>
  <div class="w3_login_module">
    <div class="module form-module">
      <%= render "form" %>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="container">
    <div class="start-stop-course">
      <div class="course-status <%= @course.status %>">
        <h4><%= t ".status" %></h4>
        <p><%= @course.status %></p>
      </div>
      <%= render "start_stop_form" %>
      <%= link_to t("courses.index.delete"), supervisor_course_path(@course),
        method: :delete, data: {confirm: t("courses.index.confirm_delete")}, class: "btn btn-warning" %>
    </div>
  </div>
  <div class="add-remove-subject">
    <% if @course.init? %>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home"><%= t ".add_remove_sb" %></a></li>
        <li><a data-toggle="tab" href="#menu1"><%= t ".add_members" %></a></li>
      </ul>
      <div class="tab-content">
        <div id="home" class="tab-pane active">
          <h3><%= t ".add_remove_sb" %></h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th><%= t".name" %></th>
                <th><%= t".duration" %></th>
                <th><%= t".option" %></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "add_remove_subject", collection: @all_subjects, as: :subject %>
            </tbody>
          </table>
          <%= will_paginate @all_subjects %>
        </div>
        <div id="menu1" class="tab-pane fade">
          <%= t ".add_members" %>
          <table class="table table-bordered">
            <h3><%= t ".trainers" %></h3>
            <thead>
              <tr>
                <th><%= t".name" %></th>
                <th><%= t".email" %></th>
                <th><%= t".option" %></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "manage_trainer", collection: @trainers, as: :trainer %>
            </tbody>
          </table>
          <%= will_paginate @trainers %>
          <table class="table table-bordered">
            <h3><%= t ".trainees" %></h3>
            <thead>
              <tr>
                <th><%= t".name" %></th>
                <th><%= t".email" %></th>
                <th><%= t".option" %></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "manage_trainee", collection: @trainees, as: :trainee %>
            </tbody>
          </table>
          <%= will_paginate @trainees %>
        </div>
      </div>
    <% end %>
  </div>
</div>
