<% provide :title, t("courses.title") %>
<h1><% t ".title" %></h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t".name" %></th>
      <th><%= t".duration" %></th>
      <th><%= t".option" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @courses %>
  </tbody>
</table>
<%= will_paginate %>
