<% provide :title,t(".title")  %>
<% provide :button_text, t(".button") %>
<div class="row">
  <div class="col-md-6">
    <div class="w3_login_module">
      <div class="module form-module">
        <h1><center><%= t".str" %></center></h1>
        <%= form_for @user do |f| %>
          <%= render "shared/error_messages", object: f.object %>

          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>

          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>

          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control" %>

          <%= f.label :school %>
          <%= f.text_field :school, class: "form-control" %>

          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>

          <%= f.label :password_confirmation, t(".confirm") %>
          <%= f.password_field :password_confirmation, class: "form-control" %>

          <%= avatar_for @user %>

          <span class="picture">
            <%= f.file_field :picture %>
          </span>

          <%= f.submit yield(:button_text), class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
