<% provide :title,t(".title")  %>
<h1><%= t".title" %></h1>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size:Settings.gravatar_size %>
      <%= link_to user.name, user %>
      <%= user.created_at %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
