<div class="mail">
  <div class="agileinfo_mail_grids">
    <div class="col-sm-4">
      <% if @user.picture? %>
       <%= image_tag @user.picture.url, class: "img-thumbnail", alt: "Cinque Terre" %>
      <% end %>
      <ul>
        <li><%= t".name" %><h2><span><%= @user.name %></span></h2></li>
      </ul>
      <ul>
        <li><%= t".email" %><h2><span><%= @user.email %></span></h2></li>
      </ul>
      <ul>
        <li><%= t".address" %><h2><span><%= @user.address %></span></h2></li>
      </ul>
      <ul>
        <li><%= t".school" %><h2><span><%= @user.school %></span></h2></li>
      </ul>
      <ul>
        <li><button type="button" class="btn btn-primary"><%= link_to t(".edit"),
        edit_user_path(@user) %></button></li>
      </ul>
    </div>

    <div class="col-md-8 agileinfo_mail_grid_right">
      <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home"><%= t"timeline." %></a></li>
      <li><a data-toggle="tab" href="#activities"><%= t".activities" %></a></li>
      <li><a data-toggle="tab" href="#profile"><%= t".profile" %></a></li>
      <li><a data-toggle="tab" href="#progress"><%= t".progress" %></a></li>
      </ul>
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="w3ls_w3l_banner_nav_right_grid ">
            <div class="hover14 column">
              <% @courses.each do |course| %>
              <div class="agile_top_brand_left_grid ">
              <%= link_to course.name, [@course, :course] %>
                <div class="agile_top_brand_left_grid1">
                  <figure>
                    <div class="snipcart-item block">
                      <% course.subjects.each do |subject| %>
                        <%= subject.name %><br>
                          <div class="snipcart-details">
                          <% Task.get_task(subject.id).each do |task| %>
                            <table class="table table-striped">
                            <thead>
                              <tr><th><%= task.name %></th>
                              <th><center><% if get_user_task(params[:id], task.id).blank? %>
                                <span class="label label-primary"><%= t".init" %></span>
                              <% elsif get_user_task(params[:id], task.id).done? %>
                                <span class="label label-danger"><%= t".finished" %></span>
                              <% else get_user_task(params[:id], task.id).doing? %>
                                <span class="label label-success"><%= t".in_progress" %></span>
                              <% end %></center></th>
                            </tr>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </figure>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div id="activities" class="tab-pane fade">
        </div>
        <div id="profile" class="tab-pane fade">
        </div>
        <div id="progress" class="tab-pane fade">
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
