<div class="row">
  <aside class="col-md-6 agile_about_grid_right">
    <section class="user_info">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %><br>
        <%= @user.email %><br>
        <%= @user.address %><br>
        <%= @user.school %>
        <%= @user.created_at %>
        <%= link_to t(".edit"), edit_user_path(@user) %><br>
      </h2>
    </section>
  </aside>
</div>
