<div class="col-md-12">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t".name" %></th>
          <th><%= t".email" %></th>
          <th><%= t".option" %></th>
        </tr>
      </thead>
      <% @trainees.each do |trainee| %>
          <tbody>
            <tr>
              <th><%= link_to trainee.name, supervisor_user_path(trainee) %></th>
              <th><%= trainee.email %></th>
              <% if current_user.admin? || current_user.trainer? %>
                <th><%= link_to t(".update"), edit_supervisor_user_path(trainee) %>
                  <%= link_to t("courses.index.delete"), supervisor_user_path(trainee),
                  method: :delete, data: {confirm: t("courses.index.confirm_delete")} %></th>
              <% end %>
            </tr>
          </tbody>
      <% end %>
    </table>
  <%= will_paginate @trainees %>
  </div>
<div class="clearfix"> </div>
</div>
