<% provide :title, t(".title") %>
<div class="col-md-12">
  <%= link_to t(".create"), new_supervisor_user_path, class: "btn btn-primary" %>
</div>
<div class="col-md-5 form_user_manager">
  <h2><%= t".list_trainers" %></h2>
  <%= render "list_trainees" %>
</div>
<div class="col-md-5 form_user_manager">
  <h2><%= t".list_trainers" %></h2>
  <%= render "list_trainers" %>
</div>
