<% provide :title, t(".title") %>
<div class="row">
  <div class="container">
    <aside class="col-md-4">
      <section class="subject_info">
        <h1>
          <%= @user_subject.subject_name %>
        </h1>
        <div class="status subject-status-<%= @user_subject.status %>">
          <p><%= @user_subject.status %></p>
        </div>
        <p><%= @user_subject.subject_description %></p><br>
      <ul class="list-group">
        <% @tasks.each do |task| %>
          <% @user_task = get_user_task(current_user.id, task.id) %>
          <div class="col-md-10" id= "icon-status" >
            <div class="col-md-1 w3agile_event_grid_left">
              <%= get_status @user_task %>
            </div>
            <div class="col-md-9 w3agile_event_grid_right">
              <h4><%= task.name %></h4>
              <li class="list-group-item"><%= task.description %><br></li>
            </div>
            <div class="col-md-2" id="action-task">
              <% if @user_task.blank? %>
                <%= render partial: "receive_task", locals: {task_id: task.id} %>
              <% elsif @user_task.doing? %>
                <%= render partial: "finish_task" %>
              <% else %>
                <%= render "completed" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>
      </section>
    </aside>
    <div class="col-md-8 finish-subject">
      <%= render "finish_subject", object: @user_subject %>
    </div>
  </div>
</div>
