<div class="agileits_header">
  <div class="container">
    <div class="w3l_offers")>
      <h1> <%= link_to(t(".framgia").html_safe, root_path) %></h1>
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="special_items">
        <li><%= link_to t("static_pages.home.title"), root_path %><i>/</i></li>
      </ul>
    </div>
    <div class="w3l_header_right1">
      <ul>
      <% if logged_in? %>
        <li class="dropdown profile_details_drop">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user" aria-hidden="true"><%= t".account" %>
          </i><span class="caret"></span></a>
          <div class="mega-dropdown-menu">
            <div class="w3ls_vegetables">
              <ul class="dropdown-menu drp-mnu">
                <li><%= link_to t(".profile"), current_user %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t(".log_out"), logout_path, method: :delete %>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <% else %>
          <li><%= link_to t(".log_in"), login_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
