<%= render "modal" %>
<% provide :title, @course.name %>
<div class="row">
  <aside class="col-md-8">
    <section class="course_info">
    <div class="picture_nomal">
      <%= picture_for @course %>
    </div>
      <div class="user-course-status">
        <h1>
          <%= @course.name %>
        </h1>
        <span class="<%= @user_course.status %>"><%= @user_course.status %></span>
        <p><%= @course.description %></p>
      </div>
    </section>
  </aside>
  <aside class="col-md-4">
    <%= render "start_finish_course" %>
  </aside>
</div>
<div class="col-md-12 agileinfo_mail_grid_right">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#subject">
      <%= t".subject" %></a></li>
    <li><a data-toggle="tab" href="#task"><%= t".task" %></a></li>
    <li><a data-toggle="tab" href="#member"><%= t".member" %></a></li>
    <li><a data-toggle="tab" href="#document"><%= t".document" %></a></li>
  </ul>
  <div class="tab-content">
  <div id="subject" class="tab-pane fade in active">
    <div class="w3ls_w3l_banner_nav_right_grid ">
      <div class="hover14 column">
        <div class="agile_top_brand_left_grid">
          <ul>
            <%= render partial: "course_subjects", collection: @course_subjects, as: :course_subject %>
          </ul>
        </div>
      </div>
    </div>
</div>
  <div id="member" class="tab-pane fade">
    <div class="container">
      <table class="table">
        <h2><%= t".trainers" %></h2>
        <thead>
          <tr>
            <th></th>
            <th><%= t".name" %></th>
            <th><%= t".email" %></th>
          </tr>
        </thead>
          <tbody>
          <%= render partial: "trainers", collection: @trainers, as: :trainer %>
          </tbody>
        </table>
        <table class="table">
        <h2><%= t".trainees" %></h2>
        <thead>
          <tr>
            <th></th>
            <th><%= t".name" %></th>
            <th><%= t".email" %></th>
          </tr>
        </thead>
          <tbody>
          <%= render partial: "trainees", collection: @trainees, as: :trainee %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"> </div>
